:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: 'Georgia', serif;
  color: #3b2a1a;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 480px;
  margin: 1rem 0;
  position: relative;
}

ul::before {
  content: '';
  position: absolute;
  left: 0.6rem;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #c8a97e;
}

li {
  padding: 0.6rem 1rem 0.6rem 2.5rem;
  margin-bottom: 0.75rem;
  font-size: 0.95rem;
  position: relative;
}

li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.2rem;
  height: 1.2rem;
  background-color: #c8a97e;
  border-radius: 50%;
  border: 3px solid #f5efe6;
}

p {
  max-width: 480px;
  width: 100%;
  margin: 0.5rem 0;
  font-size: 0.95rem;
  color: #5a3e2b;
}
